/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global */
html {
  scroll-padding-top: calc(0.75rem * 2 + 4.375rem);
}

body {
  position: relative;
  width: 100vw;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  overflow-x: hidden;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  height: 100svh;
  background: #000000;
  z-index: -12;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 68.75rem;
  padding: 0 5vw;
}

section {
  margin-bottom: calc(0.75rem * 14);
}

/* Loading Animation */
.loader {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  width: 48px;
  height: 48px;
  border: 5px solid hsl(0, 0%, 100%);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 9999;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Reveal Animation */
.reveal {
  opacity: 0;
  transition: opacity 1.5s calc(var(--delay, 3) * 100ms + 100ms), transform 1.5s calc(var(--delay, 3) * 100ms), background-color 300ms;
}

.reveal.show-animation {
  opacity: 1 !important;
  transform: translate(0) !important;
}

button {
  border: 0;
  font-weight: 600;
  color: #fff;
  padding: 0.9375rem 1.875rem;
  border-radius: 0.75rem;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  margin-top: calc(0.75rem * 2);
  transition: 300ms;
}

.blue-btn {
  border: 0.2rem solid hsl(0, 0%, 100%);
  background-color: transparent;
  color: hsl(0, 0%, 100%);
}

.blue-btn:hover {
  border: 0.2rem solid hsl(227, 100%, 65%);
  background-color: hsl(227, 100%, 65%);
  color: hsl(0, 0%, 100%);
}

/* Miscellaneous */
input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(30%);
}

img {
  border-radius: 0.75rem;
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
}

label {
  height: 100%;
  width: 100%;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.title {
  margin-bottom: calc(0.75rem * 2);
  width: 100%;
}
.title h4 {
  color: hsl(227, 100%, 65%);
}

p,
a,
label,
input,
textarea,
figcaption,
table,
th,
tr,
td,
div,
placeholder {
  font-family: arial, helvetica, sans-serif;
  font-size: clamp(0.875rem, 1.6vw, 1rem);
  font-weight: 400;
  line-height: 1.5;
  color: hsl(0, 0%, 90%);
}

p {
  max-width: 70ch;
}

/* Headings */
h1,
h2,
h3,
h4,
button {
  font-family: arial, helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  box-sizing: border-box;
}

h2,
h3,
h4 {
  color: hsl(0, 0%, 100%);
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: calc(clamp(0.875rem, 1.6vw, 1rem) * 1.4 * 1.4 * 1.4);
  margin-bottom: 0.75rem;
}

h2 {
  font-size: calc(clamp(0.875rem, 1.6vw, 1rem) * 1.4 * 1.4);
  margin-bottom: 0.75rem;
}

h3 {
  font-size: calc(clamp(0.875rem, 1.6vw, 1rem) * 1.4);
  margin-bottom: 0.75rem;
}

h4 {
  font-size: clamp(0.875rem, 1.6vw, 1rem);
  margin-bottom: 0.75rem;
}

/* Input and Textarea */
input,
textarea {
  padding: 1rem;
  color: hsl(0, 0%, 100%);
  background: #fff;
  outline: none;
  border: 0.1rem solid hsl(0, 0%, 100%);
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.5rem;
  background: #1a1a1a;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  padding: 1rem;
  color: hsl(0, 0%, 90%);
  opacity: 0.4;
}

input::placeholder,
textarea::placeholder {
  padding: 1rem;
  color: hsl(0, 0%, 90%);
  opacity: 0.4;
}

/* Links and Buttons */
a {
  text-decoration: none;
  display: block;
  color: hsl(0, 0%, 90%);
  border-radius: 1.5rem;
  transition: 500ms;
}

a:hover {
  color: hsl(227, 100%, 65%);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4.375rem;
  z-index: 999;
  box-shadow: rgba(255, 255, 255, 0.15) 0 0.121875rem 0.1625rem;
  background: #000000;
}

header .container {
  height: 100%;
  width: 100%;
  padding: 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  width: 100%;
}

header button {
  margin: 0;
}

header nav .navbar-title {
  margin-bottom: 0;
  z-index: 999;
  transform: translateX(-100%);
}

header nav ul {
  display: flex;
  align-items: center;
  gap: calc(0.75rem * 2);
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

header nav ul li {
  transform: translateX(-100%);
  transition-delay: calc(var(--delay) * 100ms) !important;
}

header .hamburger-menu {
  transform: translateX(100%);
  display: none;
  flex-direction: column;
  width: 1.875rem;
  height: 1.25rem;
  align-items: end;
  justify-content: space-between;
  z-index: 999;
  cursor: pointer;
}

.hamburger-menu span {
  width: 100%;
  height: 0.1875rem;
  background: hsl(0, 0%, 100%);
  border-radius: 0.75rem;
  transition: 800ms;
}

header .container .close-nav-btn {
  display: none;
}

@media (width < 992px) {
  header {
    padding: 0;
  }
  header .hamburger-menu {
    display: flex;
    z-index: 9999;
  }
  header .container .close-nav-btn {
    display: block;
    position: absolute;
    top: 0;
    z-index: 999;
    right: 0;
  }
  header nav ul {
    position: absolute;
    background: #000000;
    flex-direction: column;
    transform: translateY(-100%);
    inset: 0;
    opacity: 0;
    height: 100svh;
    width: 100%;
    transition: 800ms;
    padding-top: 4.375rem;
    z-index: 9;
  }
  header nav ul.active {
    transform: translateY(0);
    opacity: 1;
  }
  header .hamburger-menu.active span:first-child {
    transform: rotate(-35deg);
    transform-origin: top right;
    background: red;
  }
  header .hamburger-menu.active span:nth-child(2) {
    display: none;
  }
  header .hamburger-menu.active span:last-child {
    transform: rotate(35deg);
    transform-origin: bottom right;
    background: red;
  }
}
.hero {
  height: 100svh;
  padding-top: 4.375rem;
}

.hero-image {
  position: absolute;
  inset: 0;
  height: 100svh;
  z-index: -11;
  filter: brightness(40%);
}

.hero-image img {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.hero .container {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 100%;
}

.social-media-links {
  --delay: 4;
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 0.75rem;
  margin-top: 0.75rem;
  background: transparent;
  z-index: 99;
}

.svg-wrapper {
  width: 1.875rem;
  border-radius: 0;
  height: 1.875rem;
}

.svg-wrapper g {
  fill: hsl(0, 0%, 90%);
  transition: 300ms;
}

.svg-wrapper:hover g {
  fill: hsl(227, 100%, 65%);
}

.svg-wrapper svg {
  width: 1.875rem;
  border-radius: 0;
  height: 1.875rem;
}

.info {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  text-align: center;
  letter-spacing: -0.0625rem;
  max-width: 20ch;
  --delay: 1;
}

.hero-title,
.hero-description,
.cta-btn,
.social-media-links {
  transform: translateY(100%);
}

.hero-title span {
  color: hsl(227, 100%, 65%);
}

.hero-description {
  --delay: 2;
  max-width: 60ch;
  text-align: center;
}

.cta-btn {
  --delay: 3;
}

@media (width < 430px) {
  .hero-description {
    max-width: 43ch;
  }
}
section.about .container {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  align-items: center;
  gap: calc(0.75rem * 2);
}

.about .title {
  --delay: 1;
}

.about p {
  --delay: 2;
}

.about .title,
.about p {
  transform: translateY(12.5rem);
  transition-delay: calc(100ms * var(--delay));
}

.about .about-image {
  transform: translateX(-12.5rem);
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0.75rem;
  overflow: hidden;
}

.about-image div {
  aspect-ratio: 1/1;
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
}

.about .about-image img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  -o-object-position: center 15%;
     object-position: center 15%;
  width: 100%;
}

@media (width < 768px) {
  section.about .container {
    grid-template-columns: 1fr;
    overflow-y: hidden;
  }
  .about .title,
  .about p {
    transform: translateX(-12.5rem);
  }
}
.services .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.services .container .title {
  transform: translateX(12.5rem);
}

.services .container .list-services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: calc(0.75rem * 2);
}

.services .container .list-services li {
  text-align: left;
  padding: calc(0.75rem * 2);
  background: linear-gradient(to top left, #000000, #1a1a1a);
  border-radius: 0.75rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 0.121875rem 0.1625rem;
  transition-delay: calc(var(--delay) * 100ms);
  transform: translateX(-100%);
}

.skills .container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
}

.skills .container ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
  gap: calc(0.75rem * 2);
}

.skills .container ul li {
  transform: translateX(100%);
  transition-delay: calc(var(--delay) * 100ms);
}

.skills .container ul li div {
  box-shadow: rgba(255, 255, 255, 0.15) 0 0.121875rem 0.1625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top left, #000000, #1a1a1a);
  padding: calc(0.75rem);
  border-radius: 0.75rem;
  width: 100%;
}

.skills .container ul li div p {
  text-align: center;
}

.skills .container .title {
  text-align: center;
  transform: translateX(-12.5rem);
}

.portfolio .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.list-portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  text-align: left;
  width: 100%;
  gap: calc(0.75rem * 2);
}

.list-portfolio .item {
  transform: translateX(-12.5rem);
  cursor: grab;
  padding: 0 calc(0.75rem * 1);
  margin-bottom: calc(0.75rem * 2);
}

.list-portfolio .item:active {
  cursor: grabbing;
}

.list-portfolio .project-image {
  margin-bottom: calc(0.75rem);
}

.project-image div {
  width: 100%;
  border-radius: 0.75rem;
  overflow: hidden;
}

.swiper-pagination-bullet {
  background-color: hsl(0, 0%, 90%) !important;
  display: none !important;
}

.portfolio .title {
  transform: translateX(12.5rem);
}

.list-portfolio img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  aspect-ratio: 16/9;
}

.list-portfolio .link-demo a {
  display: inline-block;
  color: hsl(227, 100%, 65%);
  cursor: pointer;
}

.testimonials .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.testimonials .container .title {
  transform: translateX(-12.5rem);
}

.testimonials .container .list-testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: calc(0.75rem * 2);
  text-align: left;
}

.testimonials .container .list-testimonials li {
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  background: #1a1a1a;
  padding: calc(0.75rem * 2);
  gap: calc(0.75rem * 1);
}

.testimonials .container .list-testimonials .client-profile {
  --size: 3.5rem;
  display: flex;
  align-items: center;
  gap: calc(0.75rem * 1);
}

.testimonials .container .list-testimonials .client-profile h5 {
  margin-bottom: 0;
}

.testimonials .container .list-testimonials img {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  z-index: 9;
  -o-object-fit: fill;
     object-fit: fill;
}

@media (width < 768px) {
  .testimonials .container .list-testimonials img {
    width: 3rem;
    height: 3rem;
  }
}
.contact .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.contact .container .title {
  transform: translateX(-12.5rem);
}

.list-contact-and-maps {
  display: grid;
  align-items: center;
  text-align: left;
  grid-template-columns: 1fr 1fr;
  gap: calc(0.75rem * 2);
  box-sizing: border-box;
}

.maps {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.75rem;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateX(12.5rem);
}

.maps-offline {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1a1a;
}

.maps-offline img {
  height: 12.5rem;
  width: 12.5rem;
}

.list-contacts {
  display: grid;
  gap: calc(0.75rem * 2);
  text-align: left;
  width: 100%;
}

.list-contacts li {
  display: grid;
  gap: calc(0.75rem * 2);
  grid-template-columns: auto 1fr;
  align-items: center;
  transform: translateX(-12.5rem);
  transition-delay: calc(var(--delay) * 100ms);
}

.list-contacts li .icon {
  width: 3.75rem;
  height: 3.75rem;
  padding: calc(0.75rem);
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top left, #000000, #1a1a1a);
  box-shadow: rgba(255, 255, 255, 0.15) 0 0.121875rem 0.1625rem;
}

.list-contacts li a {
  text-decoration: underline;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
}

.list-contacts li img {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border-radius: 0;
}

@media (width < 768px) {
  .contact .container .title {
    transform: translateY(0);
    transform: translateX(-12.5rem);
  }
  .list-contact-and-maps {
    grid-template-columns: 1fr;
  }
  .maps {
    order: 1;
    transform: translateX(12.5rem);
  }
  .list-contacts li {
    transform: translateY(0);
    transform: translateX(-12.5rem);
  }
  .list-contact-and-maps .info {
    order: 2;
  }
}
footer {
  width: 100%;
  padding: 0.75rem;
  background: #1a1a1a;
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */