.about-section {
  display: grid;
  grid: 
    "title title" auto
    "image text" 25rem
    / 1fr 1.5fr;
    padding: 4rem 0;
    box-sizing: border-box;
  column-gap: clamp(2rem, 4svw, 4rem);
  max-width: 92rem;
  margin-top: 0;
  width: 100%;
  align-items: center;
  margin: auto;
}

.about-title {
  grid-area: title;
  text-align: center;
  margin-bottom: 2rem;
}

.about-title h2 {
  font-size: var(--h2-size);
  line-height: 1;
  margin-bottom: .2rem;
  font-weight: bold;
  align-self: end;
}

.about-title p {
  margin-top: 0;
  font-size: var(--paragraph-size);
  line-height: 1.5;
  color: #0047AB;
}

.about-section img {
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: image;
  box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .15);
}

.about-section .texts {
  display: grid;
  align-self: center;
  grid-area: text;
}

.texts h3 {
  font-size: var(--h3-size);
  margin-bottom: .5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1;
  font-weight: bold;
}

.texts p {
  font-size: var(--paragraph-size);
  line-height: 1.5;
  max-width: 75ch;
  margin-bottom: 1rem;
}

.about-section .list-of-social-media {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  gap: clamp(2rem, 4svw, 4rem);
  margin-top: 1rem;
  width: clamp(14rem, 19svw, 19rem);
}

.list-of-social-media figure img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  z-index: 9999;
}

@media (width <= 500px) {
  .about-section {
    grid: 
      "title title" auto
      "image image" 20rem
      "text text" auto
      / 1fr 1fr;
  }
  
  .about-section img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 60%;
    min-width: 25rem;
    justify-self: center;
  }
  
  .about-section .texts {
    margin-top: 2rem;
   justify-self: center;
   text-align: center;
  }

  .about-section .list-of-social-media {
    justify-self: center;
  }

  .about-section .list-of-social-media img {
    min-width: 0rem;
    justify-self: center;
  }
}