.footer {
  width: 100vw;
  margin: 0 calc(-50vw - -50%); 
  background-color: #333;
  margin-top: var(--margin-top-size);
  padding: 0 clamp(2rem, 4svw, 4rem);
  box-sizing: border-box;
}

.footer div {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr;
  align-items: center;
  max-width: 80rem;
  justify-items: center;
  padding: 1.5rem 4rem;
}

.footer p {
  font-size: var(--paragraph-size);
  line-height: 1.5;
  justify-self: center;
  color: #eee;
}

.social-media {
  display: flex;
  justify-self: end;
  column-gap: 1rem;
}

.social-media img {
  width: 2.5rem;
  height: 2.5rem;
  opacity: .8;
}

@media (width <= 768px) {
 .footer div {
   padding: 1rem 2rem;
   box-sizing: border-box;
 } 
}