.hero-section {
  --duration: 6500ms;
  background-color: #fff;
  width: 100svw;
  height: 100svh;
  margin: 0 calc(-50svw - -50%);
  margin-bottom: 0;
  box-sizing: border-box;
  display: grid;
  padding: 0 clamp(2rem, 4svw, 4rem);
  justify-content: center;
  align-items: center;
}

.hero-section .hero-container {
  display: grid;
  align-items: center;
  width: 100%;
  max-width: 92rem;
  grid-template-columns: 1fr 1fr;
  padding: 4rem 0;
  box-sizing: border-box;
}

.hero-section h1 {
  font-size: var(--h1-size);
  line-height: 1;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #333;
}

.hero-section h3 {
  font-size: var(--h3-size);
  margin-bottom: 1rem;
  line-height: 1;
  font-weight: bold;
  color: #555;
}

.hero-section p {
  margin-bottom: 1rem;
  font-size: var(--paragraph-size);
  line-height: 1.5;
  max-width: 50ch;
  color: #777;
}

.hero-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero-image img {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  width: 100%;
  width: clamp(15rem, 35svw, 35rem);
  height: clamp(15rem, 35svw, 35rem);
  object-fit: cover;
}

.contact-btn {
  background-color: #0047AB;
  color: #fff;
  border: 0;
  margin-top: 2rem;
  height: 4.5rem;
  padding: 0 2.2rem;
  box-sizing: border-box;
  border-radius: 1.5rem;
  font-size: var(--paragraph-size);
  transition: 300ms;
}

.contact-btn:hover {
  filter: brightness(90%);
}

.contact-btn:active {
  filter: brightness(75%);
}

/* Animation */
@keyframes imageAnimation {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transition: 3000ms;
  }
  
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    transition: 3000ms;
  }
  
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@media (width <= 500px) {
  .hero-section .hero-container {
    min-height: 100svh;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    text-align: left;
    align-content: center;
    box-sizing: border-box;
  }
  
  .hero-image {
    order: 1;
    justify-content: center;
  }
  
  .hero-image img {
    width: 25rem;
    height: 25rem;
    margin-bottom: 2rem;
  }
  
  .hero-text {
    order: 2;
  }
}