.project-section {
  display: grid;
  width: 100%;
  padding: 4rem 0;
  margin: 0;
  margin-top: var(--margin-top-size);
  max-width: 92rem;
  box-sizing: border-box;
}

.project-title {
  text-align: center;
  margin-bottom: 2rem;
}

.project-list .project {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(2rem, 4svw, 4rem)
}

.project div {
  margin-left: 0;
}

.project h3 {
  margin-top: 0;
}

.project button {
  border: 0;
  margin-top: 2rem;
  padding: 1rem 3rem;
  border-radius: 15px;
}

.project .view-code-btn {
  background: #fff;
  border: .1rem solid rgba(0,0,0,.15);
}

.project .demo-btn {
  margin-left: clamp(2rem, 4svw, 4rem);
  color: #fff;
  background: var(--blue-color);
}

.project figcaption {
  margin-bottom: .5rem;
  font-size: var(--paragraph-size);
  line-height: 1.5;
  color: #777;
}

.project-section h1 {
  font-size: var(--h2-size);
  color: #444;
  line-height: 1.1;
  margin-bottom: .5rem;
  font-weight: bold;
  text-align: center;
}

.project-section h1 span {
  color: #0047AB;
}

.project-section .project-list {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  box-sizing: border-box;
  justify-content: center; 
  gap: clamp(2rem, 4vw, 4rem);
}

.project-section .project-list img {
  
  width: 26rem;
  box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .15);
  border: 1px solid rgba(0,0,0,.25);
  width: 100%;
  border-radius: 1.5rem;
  object-fit: cover;
}


.project-section .show-all-btn {
  margin: auto;
  background-color: #333;  
  color: #fff;
  font-size: var(--paragraph-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 1.5rem;
  margin-top: 2rem;
  text-decoration: none;
  height: 4.5rem;
  padding: 0 2.2rem;
  box-sizing: border-box;
  transition: 300ms;
}

.show-all-btn:hover {
  filter: brightness(90%);
}

.show-all-btn:active {
  filter: brightness(75%);
}

@media (width <= 500px) {
  .project-section .project-list {
    flex-wrap: wrap;
    gap: 4rem;
  }
}