.skills {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  margin: auto;
  max-width: 92rem;
  box-sizing: border-box;
}

.skills h1 {
  text-align: center;
  font-size: var(--h2-size);
  line-height: 1.1;
  margin-bottom: .5rem;
  font-weight: bold;
  color: #444;
}

.skills h1 span {
  color: #0047AB;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  width: 100%;
  margin-top: 1rem;
}

.skills .skill-list div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: clamp(8rem, 11vw, 11rem);
  width: clamp(8rem, 11vw, 11rem);
  border-radius: 50%;
}

.skill-list div img {
  width: 100%;
  object-fit: cover;
}

.skills .skill-list div .javascript {
  width: 90%;
}

@media (width <= 768px) {
  .skills {
    padding: 4rem 2rem;
    box-sizing: border-box;
  }
  
  .skill-list {
    gap: 2rem;
    box-sizing: border-box;
  }
}
