@use "colors" as c;
@use "variables" as v;
@use "../utils/" as u;

/* Global */
html {
  scroll-padding-top: calc(v.$base-size * 2 + v.$navbar-height);
}

body {
  position: relative;
  width: 100vw;
  text-size-adjust: none;
  overflow-x: hidden;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  height: 100svh;
  background: c.$primary-color;
  z-index: -12;
}

.container {
  margin: auto;
  width: 100%;
  max-width: v.$max-width;
  padding: 0 v.$base-horizontal-fluid-size;
}

section {
  margin-bottom: calc(v.$base-size * 14);
}

/* Loading Animation */
.loader {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  width: 48px;
  height: 48px;
  border: 5px solid c.$contrast-color;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 9999;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Reveal Animation */
.reveal {
  opacity: 0;
  transition: opacity v.$animation-time calc(var(--delay, 3) * 100ms + 100ms),
    transform v.$animation-time calc(var(--delay, 3) * 100ms),
    background-color 300ms;
}

.reveal.show-animation {
  opacity: 1 !important;
  transform: translate(0) !important;
}

button {
  border: 0;
  font-weight: 600;
  color: c.$button-color;
  padding: u.rem(15) u.rem(30);
  border-radius: v.$border-radius;
  width: fit-content;
  cursor: pointer;
  margin-top: calc(v.$base-size * 2);
  transition: 300ms;
}

.blue-btn {
  border: 0.2rem solid c.$contrast-color;
  background-color: transparent;
  color: c.$contrast-color;
}

.blue-btn:hover {
  border: 0.2rem solid c.$accent-color;
  background-color: c.$accent-color;
  color: c.$contrast-color;
}

/* Miscellaneous */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: c.$date-picker-color;
}

img {
  border-radius: v.$border-radius;
  box-sizing: border-box;
  object-fit: cover;
}

label {
  height: 100%;
  width: 100%;
  color: c.$contrast-color;
  font-weight: bold;
}
