@use "../utils/" as u;

$accent-color: hsl(227, 100%, 65%);
$primary-color: #000000;
$secondary-color: #1a1a1a;
$contrast-color: hsl(0, 0%, 100%);
$contrast-border-color: #fff;
$date-picker-color: invert(30%);
$button-color: #fff;
$headings-color: hsl(0, 0%, 100%);
$body-color: hsl(0, 0%, 90%);
$input-color: #fff;
$border-color: hsla(0, 0%, 100%, 0.25);
$shadow: rgba(255, 255, 255, 0.15) 0 u.rem(1.95) u.rem(2.6);
$gradient-color: linear-gradient(to top, $primary-color, $secondary-color);
