@use "../utils" as u;

$golden-ratio: 1.2;
$body-text-min: u.rem(14);
$body-text-prefered: 1.6vw;
$body-text-max: u.rem(16);
$body-text: clamp($body-text-min, $body-text-prefered, $body-text-max);
$h5: $body-text;
$h4: calc($h5 * $golden-ratio);
$h3: calc($h4 * $golden-ratio);
$h2: calc($h3 * $golden-ratio);
$h1: calc($h2 * $golden-ratio);

.title {
  margin-bottom: calc(u.$base-size * 2);
  width: 100%;

  h5 {
    color: u.$accent-color;
  }
}

p,
button,
a,
label,
input,
textarea,
figcaption,
table,
th,
tr,
td,
div,
placeholder {
  font-family: u.$text-font;
  font-size: $body-text;
  line-height: 1.5;
  color: u.$body-color;
}

p {
  max-width: 70ch;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
.title p {
  font-family: u.$heading-font;
  line-height: 1.1;
  box-sizing: border-box;
}

h2,
h3,
h4,
h5 {
  color: u.$headings-color;
}

h1 {
  color: u.$contrast-color;
  font-size: $h1;
  margin-bottom: u.$base-size;
}
h2 {
  font-size: $h2;
  margin-bottom: u.$base-size;
}
h3 {
  font-size: $h3;
  margin-bottom: u.$base-size;
}
h4 {
  font-size: $h4;
  margin-bottom: u.$base-size;
}

h5 {
  font-size: $h5;
  margin-bottom: u.$base-size;
}

/* Input and Textarea */
input,
textarea {
  padding: 1rem;
  color: u.$contrast-color;
  background: u.$input-color;
  outline: none;
  border: 0.1rem solid u.$contrast-color;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.5rem;
  //   border: 0.1rem solid u.$border-color;
  background: u.$secondary-color;
}

input::placeholder,
textarea::placeholder {
  padding: 1rem;
  color: u.$body-color;
  opacity: 0.4;
}

/* Links and Buttons */
a {
  text-decoration: none;
  display: block;
  color: u.$body-color;
  border-radius: 1.5rem;
  transition: 500ms;
}

a:hover {
  color: u.$accent-color;
}
