@use "variables" as v;
@use "colors" as c;
@use "../utils/" as u;

$golden-ratio: 1.35;
$body-text-min: u.rem(14);
$body-text-prefered: 1.6vw;
$body-text-max: u.rem(16);
$body-text: clamp($body-text-min, $body-text-prefered, $body-text-max);
$h4: $body-text;
$h3: calc($h4 * $golden-ratio);
$h2: calc($h3 * $golden-ratio);
$h1: calc($h2 * $golden-ratio);

.title {
  width: 100%;
  margin-bottom: v.$double-base-size;

  h4 {
    color: c.$accent-color;
    margin-top: v.$base-size;
  }
}

p,
a,
label,
input,
textarea,
figcaption,
table,
th,
tr,
td,
div,
placeholder {
  font-family: u.$text-font;
  font-size: $body-text;
  font-weight: u.$text-font-weight;
  line-height: 1.5;
  color: c.$body-color;
}

p {
  max-width: 70ch;
}

/* Headings */
h1,
h2,
h3,
h4,
button {
  font-family: u.$heading-font;
  font-weight: u.$heading-font-weight;
  line-height: 1.1;
  box-sizing: border-box;
}

h2,
h3,
h4 {
  color: c.$headings-color;
}

h2,
h3 {
  margin-bottom: v.$base-size;
}

h1 {
  color: c.$contrast-color;
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

/* Input and Textarea */
input,
textarea {
  padding: 1rem;
  color: c.$contrast-color;
  background: c.$input-color;
  outline: none;
  border: 0.1rem solid c.$contrast-color;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.5rem;
  //   border: 0.1rem solid v.$border-color;
  background: c.$secondary-color;
}

input::placeholder,
textarea::placeholder {
  padding: 1rem;
  color: c.$body-color;
  opacity: 0.4;
}

/* Links and Buttons */
a {
  text-decoration: none;
  display: block;
  color: c.$body-color;
  border-radius: 1.5rem;
  transition: 500ms;
}

a:hover {
  color: c.$accent-color;
}
