@use "../utils/" as u;

$max-width: u.rem(1200);
$border-radius: u.rem(12);
$base-size: u.rem(10);
$double-base-size: calc($base-size * 2);
$base-vertical-fluid-size: 5svh;
$translate-size: u.rem(200);
$translate-size-min: u.rem(-200);
$navbar-height: calc($double-base-size);
$base-horizontal-fluid-size: 5vw;
$animation-time: 1.8s;
