@use "functions" as f;

$accent-color: #2a50da;
$primary-color: #000000;
$secondary-color: #1a1a1a;
$contrast-color: hsl(0, 0%, 100%);
$contrast-border-color: #fff;
$date-picker-color: invert(30%);
$button-color: #fff;
$headings-color: hsl(0, 0%, 100%);
$body-color: hsl(0, 0%, 90%);
$input-color: #fff;
$max-width: f.rem(1100);
$shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px;
$border-radius: f.rem(12);
$base-size: f.rem(12);
$base-vertical-fluid-size: 5svh;
$translate-size: f.rem(200);
$translate-size-min: f.rem(-200);
$base-horizontal-fluid-size: 5vw;
$animation-time: 2s;
$gradient-color: linear-gradient(to top left, $primary-color, $secondary-color);
