@use "../utils" as u;

.contact .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.contact .container .title {
  transform: translateX(u.$translate-size-min);
}

.list-contact-and-maps {
  display: grid;
  align-items: center;
  text-align: left;
  grid-template-columns: 1fr 1fr;
  gap: calc(u.$base-size * 2);
  box-sizing: border-box;
}

.maps {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: u.$border-radius;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateX(u.$translate-size);
}

.maps-offline {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: u.$secondary-color;
}

.maps-offline img {
  --image-size: 20rem;
  height: var(--image-size);
  width: var(--image-size);
}

.list-contacts {
  display: grid;
  gap: calc(u.$base-size * 2);
  text-align: left;
  width: 100%;
}

.list-contacts li {
  display: grid;
  gap: calc(u.$base-size * 2);
  grid-template-columns: auto 1fr;
  align-items: center;
  transform: translateX(u.$translate-size-min);
  transition-delay: calc(var(--delay) * 100ms);
}

.list-contacts li .icon {
  width: 6rem;
  height: 6rem;
  padding: calc(u.$base-size);
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: u.$gradient-color;
  box-shadow: u.$shadow;
}

.list-contacts li a {
  text-decoration: underline;
  display: inline-block;
  width: fit-content;
}

.list-contacts li img {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border-radius: 0;
}

@media (width < 768px) {
  .contact .container .title {
    transform: translateY(0);
    transform: translateX(u.$translate-size-min);
  }
  .list-contact-and-maps {
    grid-template-columns: 1fr;
  }

  .maps {
    order: 1;
    transform: translateX(u.$translate-size);
  }

  .list-contacts li {
    transform: translateY(0);
    transform: translateX(u.$translate-size-min);
  }

  .list-contact-and-maps .info {
    order: 2;
  }
}
