@use "../utils/" as u;

.hero {
  position: relative;
  height: 100svh;
}

.hero-image {
  position: absolute;
  inset: 0;
  height: 100svh;
  z-index: -11;
  filter: brightness(40%);
}

.hero-image img {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.hero .container {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 100%;
}

.social-media-links {
  --delay: 4;
  --icon-size: 2.5rem;
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: u.$base-size;
  margin-top: u.$base-size;
  background: transparent;
  z-index: 99;
}

.svg-wrapper {
  width: var(--icon-size);
  border-radius: 0;
  height: var(--icon-size);
}

.svg-wrapper g {
  fill: u.$body-color;
  transition: 300ms;
}

.svg-wrapper:hover g {
  fill: u.$accent-color;
}

.svg-wrapper svg {
  width: var(--icon-size);
  border-radius: 0;
  height: var(--icon-size);
}

.info {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  text-align: center;
  letter-spacing: -0.1rem;
  --delay: 2;
}

.hero-sub-title {
  --delay: 1;
}

.circle-image,
.hero-sub-title,
.hero-title,
.hero-description,
.cta-btn,
.social-media-links {
  transform: translateY(100%);
}

.hero-title span {
  color: u.$accent-color;
}

.circle-image {
  --delay: 0;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: url("/public/images/rendi1-650px.webp") center / cover no-repeat;
  margin-bottom: calc(u.$base-size * 2);
}

.hero-description {
  --delay: 3;
  max-width: 60ch;
  text-align: center;
}

.cta-btn {
  --delay: 5;
}

@media (width < 430px) {
  .hero-description {
    max-width: 43ch;
  }
}
