@use "../utils/" as u;
@use "../globals/" as g;

$border-size: u.rem(1);

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-block: g.$navbar-height;
  z-index: 999;
  border-bottom: $border-size solid rgba($color: #fff, $alpha: 0.25);
  background: g.$primary-color;

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-title {
      z-index: 99;
      margin-bottom: 0;
      transform: translateX(-100%);
    }

    nav {
      display: flex;
      align-items: center;
      gap: g.$double-base-size;

      ul {
        display: flex;
        align-items: center;
        gap: g.$double-base-size;

        li {
          transform: translateX(-100%);
          transition-delay: calc(var(--delay) * 100ms) !important;
        }
      }
    }

    .hamburger-menu {
      transform: translateX(100%);
      display: none;
      flex-direction: column;
      width: u.rem(30);
      height: u.rem(20);
      align-items: flex-end;
      justify-content: space-between;
      cursor: pointer;

      span {
        width: 100%;
        height: u.rem(3);
        background: g.$contrast-color;
        border-radius: g.$border-radius;
        transition: 800ms;
      }

      &.active {
        span:first-child,
        span:last-child {
          background-color: red;
        }

        span:first-child {
          transform: rotate(-35deg);
          transform-origin: top right;
        }

        span:nth-child(2) {
          display: none;
        }

        span:last-child {
          transform: rotate(35deg);
          transform-origin: bottom right;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  header {
    .container {
      .hamburger-menu {
        display: flex;
        z-index: 99;
      }

      nav {
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        top: -100%;
        right: 0;
        left: 0;
        bottom: 0;
        height: 0;
        transition: 800ms;
        justify-content: end;

        ul {
          padding-top: g.$navbar-height;
          background: g.$primary-color;
          transition: 800ms;
          opacity: 1;
          width: 100%;
          height: 100%;
          flex-direction: column;
        }

        &.active {
          top: calc(g.$navbar-height * 3 + $border-size);
          height: 100%;
          opacity: 1;
        }
      }
    }
  }
}
