@use "../utils/" as u;

.portfolio .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.list-portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  text-align: left;
  width: 100%;
  gap: calc(u.$base-size) * 2;
}
.list-portfolio .item {
  transform: translateY(u.$translate-size);
  cursor: grab;
  padding: 0 calc(u.$base-size * 1);
  margin-bottom: calc(u.$base-size * 2);
}
.list-portfolio .item:active {
  cursor: grabbing;
}
.list-portfolio .project-image {
  margin-bottom: calc(u.$base-size);
}
.project-image div {
  width: 100%;
  height: clamp(23rem, 30vw, 30rem) !important;
  border-radius: u.$border-radius;
  overflow: hidden;
}
.swiper-pagination-bullet {
  background-color: u.$body-color !important;
}

.portfolio .title {
  transform: translateY(u.$translate-size);
}

.list-portfolio img {
  width: 100%;
  object-fit: fill;
  height: clamp(23rem, 30vw, 30rem) !important;
}

.list-portfolio .link-demo a {
  display: inline-block;
  color: u.$accent-color;
  cursor: pointer;
}
