@use "../utils/" as u;
@use "../globals/" as g;

.services {
  .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;

    .title {
      transform: translateX(g.$translate-size);
    }

    .list-services {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(u.rem(250), 1fr));
      gap: calc(g.$base-size * 2);

      li {
        text-align: left;
        padding: calc(g.$base-size * 2);
        background: g.$gradient-color;
        border-radius: g.$border-radius;
        box-shadow: g.$shadow;
        transition-delay: calc(var(--delay) * 100ms);
        transform: translateX(-100%);
      }
    }
  }
}
