@use "../utils/" as u;

.skills .container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
}

.skills .container ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(u.rem(100), 1fr));
  gap: calc(u.$base-size * 2);
}

.skills .container ul li {
  transform: translateX(100%);
  transition-delay: calc(var(--delay) * 100ms);
}

.skills .container ul li div {
  box-shadow: u.$shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  background: u.$gradient-color;
  padding: calc(u.$base-size);
  border-radius: u.$border-radius;
  width: 100%;
}

.skills .container ul li div p {
  text-align: center;
}

.skills .container .title {
  text-align: center;
  transform: translateX(u.$translate-size-min);
}
