@use "../utils/" as u;
@use "../globals/" as g;

.testimonials .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.testimonials .container .title {
  transform: translateX(g.$translate-size-min);
}

.testimonials .container .list-testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(u.rem(250), 1fr));
  gap: calc(g.$base-size * 2);
  text-align: left;
}

.testimonials .container .list-testimonials li {
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  border-radius: g.$border-radius;
  background: g.$secondary-color;
  padding: calc(g.$base-size * 2);
  gap: calc(g.$base-size * 1);
}

.testimonials .container .list-testimonials .client-profile {
  --size: 3.5rem;
  display: flex;
  align-items: center;
  gap: calc(g.$base-size * 1);
}

.testimonials .container .list-testimonials .client-profile h5 {
  margin-bottom: 0;
}

.testimonials .container .list-testimonials img {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  z-index: 9;
  object-fit: fill;
}

@media (width < 768px) {
  .testimonials .container .list-testimonials img {
    width: 3rem;
    height: 3rem;
  }
}
