:root {
  --paragraph-size: clamp(1.4rem, 1.6vw, 1.6rem);
  --paragraph-size2: clamp(1.4rem, 1.6vw, 1.6rem);
  --h2-size: calc(var(--paragraph-size) * 1.2 * 1.2 * 1.2 * 1.2);
  --h1-size: calc(var(--paragraph-size) * 1.2 * 1.2 * 1.2 * 1.2 * 1.2 * 1.2);
  --h3-size: calc(var(--paragraph-size) * 1.2 * 1.2);
  font-size: 62.5%;
  --navbar-title-size: calc(var(--paragraph-size) * 1.2 * 1.2);
}

body {
  background: #fff;
}

.App {
  font-family: helvetica, Sans-Serif;
  max-width: 800px;
  display: grid;
  justify-items: center;
  width: 100%;
  margin: auto;
  height: auto;
}


