:root {
  --paragraph-size: clamp(1.4rem, 1.6vw, 1.6rem);
  --paragraph-size2: clamp(1.4rem, 1.6vw, 1.6rem);
  --h2-size: calc(var(--paragraph-size) * 1.2 * 1.2 * 1.2 * 1.2);
  --h1-size: calc(var(--paragraph-size) * 1.2 * 1.2 * 1.2 * 1.2 * 1.2 * 1.2);
  font-size: 62.5%;
  --blue-color:#0047AB;
  --margin-top-size: 2.5rem;
  --h3-size: calc(var(--paragraph-size) * 1.2 * 1.2);
  --navbar-title-size: calc(var(--paragraph-size) * 1.2 * 1.2);
  @media (width <= 756px) {
    --navbar-title-size: calc(var(--paragraph-size) * 1.2);
    --h2-size: calc(var(--paragraph-size) * 1.2 * 1.2 * 1.2);
    --h1-size: calc(var(--paragraph-size) * 1.2 * 1.2 * 1.2 * 1.2);
    --h3-size: calc(var(--paragraph-size) * 1.2);
  }
}

body {
  background: #fff;
  overflow-x: hidden;
}

.App {
  font-family: helvetica, Sans-Serif;
  width: 100%;
  display: grid;
  justify-content: center;
}

h1 {
  font-size: var(--h1-size);
  line-height: 1;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #000;
}

h2 {
  font-size: var(--h2-size);
  line-height: 1;
  margin-bottom: .5rem;
  font-weight: bold;
  align-self: end;
  color: #333;
}

h3 {
  font-size: var(--h3-size);
  margin-bottom: .5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1;
  font-weight: bold;
  color: #333;
}

p, a {
  font-size: var(--paragraph-size);
  line-height: 1.5;
  color: #444;
}

.section-title {
  margin-bottom: 2rem;
}

.section-title h2 {
  font-size: var(--h2-size);
  line-height: 1;
  margin-bottom: .2rem;
  text-align: center;
  font-weight: bold;
}

.section-title p {
  font-size: var(--paragraph-size);
  line-height: 1.5;
  margin-top: 0;
  text-align: center;
  color: #0047AB;
}

a {
  color: #0047AB;
}

.container-section {
  display: grid;
  box-sizing: border-box;
  justify-content: center;
  padding: 0 clamp(2rem, 4svw, 4rem);
  width: 100%;
}
