section.about .container {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  align-items: center;
  gap: calc(var(--base-size) * 2);
}

.about .title {
  --delay: 1;
}

.about p {
  --delay: 2;
}

.about .title,
.about p {
  transform: translateY(var(--translate-size));
  transition-delay: calc(100ms * var(--delay));
}

.about .about-image .about-image {
  width: 100%;
  box-sizing: border-box;
}

.about .about-image img {
  transform: translateX(var(--translate-size-min));
  object-fit: cover;
  aspect-ratio: 1 / 1;
  object-position: center 15%;
  width: 100%;
}

@media (width < 768px) {
  section.about .container {
    grid-template-columns: 1fr;
    overflow-y: hidden;
  }

  .about .title,
  .about p {
    transform: translateY(0);
    transform: translateX(var(--translate-size-min));
  }
}
