.contact .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.contact .container .list-contact-and-maps {
  display: grid;
  align-items: center;
  text-align: left;
  grid-template-columns: 1fr 1fr;
  gap: calc(var(--base-size) * 2);
  box-sizing: border-box;
}

.contact .container .list-contact-and-maps .maps {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  overflow: hidden;
}

.contact .container .list-contacts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: calc(var(--base-size) * 2);
  text-align: left;
  width: 100%;
}

.contact .container .list-contacts li {
  display: grid;
  gap: calc(var(--base-size) * 2);
  grid-template-columns: auto 1fr;
  align-items: center;
}

.contact .container .list-contacts li .icon {
  width: 6rem;
  height: 6rem;
  padding: calc(var(--base-size));
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
}

.contact .container .list-contacts li img {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border-radius: 0;
}
