section.hero {
  height: 100svh;
  background: radial-gradient(var(--secondary-color), var(--primary-color));
}

section.hero .container {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 100%;
}

section.hero .info {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

section.hero .info span {
  color: var(--accent-color);
}

section.hero .info .circle-image {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: url("/public/images/rendi1.jpeg") center 15% / cover no-repeat;
  margin-bottom: 2rem;
}

section.hero .info p {
  text-align: center;
}
