.hero {
  height: 100svh;
  margin-bottom: 0;
}

.hero .container {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 100%;
}

.social-media-links {
  --delay: 4;
  --icon-size: 3rem;
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: var(--base-size);
  margin-top: var(--base-size);
  background: transparent;
  z-index: 99;
}

.svg-wrapper {
  width: var(--icon-size);
  border-radius: 0;
  height: var(--icon-size);
}

.svg-wrapper g {
  fill: var(--body-color);
  transition: 300ms;
}

.svg-wrapper:hover g {
  fill: var(--accent-color);
}

.svg-wrapper svg {
  width: var(--icon-size);
  border-radius: 0;
  height: var(--icon-size);
}

.info {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  text-align: center;
  letter-spacing: -0.1rem;
  --delay: 2;
}

.hero-sub-title {
  --delay: 1;
}

.circle-image,
.hero-sub-title,
.hero-title,
.hero-description,
.contact-btn,
.social-media-links {
  transform: translateY(100%);
}

.hero-title span {
  color: var(--accent-color);
}

.circle-image {
  --delay: 0;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: url("/public/images/rendi1.webp") center 15% / cover no-repeat;
  margin-bottom: calc(var(--base-size) * 2);
}

.hero-description {
  --delay: 3;
  max-width: 60ch;
  text-align: center;
}

.contact-btn {
  --delay: 5;
}

@media (width < 430px) {
  .hero-description {
    max-width: 43ch;
  }
}
