header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  z-index: 999;
  padding: calc(var(--base-vertical-fluid-size) / 2)
    calc(var(--base-horizontal-fluid-size));
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

header nav {
  width: fit-content;
  height: 100%;
}

header button {
  margin: 0;
}

header h3 {
  margin-bottom: 0;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--base-size) * 2);
  width: 100%;
  height: 100%;
}
