header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: var(--size-3);
}

header nav {
  width: fit-content;
  height: 100%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-2);
  width: 100%;
  height: 100%;
}
