header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  z-index: 999;
  padding: calc(var(--base-vertical-fluid-size) / 2)
    calc(var(--base-horizontal-fluid-size));
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

header nav {
  width: fit-content;
  height: 100%;
}

header button {
  margin: 0;
}

header h3 {
  margin-bottom: 0;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--base-size) * 2);
  width: 100%;
  height: 100%;
}

header .hamburger-menu {
  display: none;
  flex-direction: column;
  width: 3.5rem;
  height: 2.5rem;
  justify-content: space-between;
  z-index: 9;
  cursor: pointer;
}

.hamburger-menu span {
  width: 100%;
  height: 0.3rem;
  background: var(--contrast-color);
  border-radius: var(--border-radius);
}

@media (width < 992px) {
  header nav {
    display: flex;
    align-items: center;
  }

  header .hamburger-menu {
    display: flex;
  }

  header nav ul {
    display: none;
  }
}
