.portfolio .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.portfolio .container .list-portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  text-align: left;
  width: 100%;
  gap: calc(var(--base-size) * 2);
}

.portfolio .container .list-portfolio .project-image {
  margin-bottom: calc(var(--base-size));
}

.portfolio .container .list-portfolio img {
  width: 100%;
}

.portfolio .container .list-portfolio .link-demo a {
  display: inline-block;
  color: var(--accent-color);
  cursor: pointer;
}
