.portfolio .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.portfolio .container .list-portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  text-align: left;
  width: 100%;
  gap: calc(var(--base-size) * 2);
}

.portfolio .container .list-portfolio .item {
  cursor: grab;
  padding: 0 calc(var(--base-size) * 1);
  margin-bottom: calc(var(--base-size) * 2);
}

.portfolio .container .list-portfolio .item:active {
  cursor: grabbing;
}

.portfolio .container .list-portfolio .project-image {
  margin-bottom: calc(var(--base-size));
}

.portfolio .container .list-portfolio .item.reveal {
  transform: translateX(-100%);
}

.swiper-pagination-bullet {
  background-color: var(--body-color) !important;
}

.portfolio .container .title {
  transform: translateX(var(--translate-size));
}

.portfolio .container .list-portfolio img {
  width: 100%;
}

.portfolio .container .list-portfolio .link-demo a {
  display: inline-block;
  color: var(--accent-color);
  cursor: pointer;
}

@media (width <= 768px) {
  .portfolio .container .list-portfolio.reveal,
  .portfolio .container .title {
    transform: translateY(0);
    transform: translateX(var(--translate-size-min));
  }
}
