.services .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.services .container .title {
  transform: translateX(var(--translate-size));
}

.services .container .list-services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: calc(var(--base-size) * 2);
}

.services .container .list-services li {
  text-align: left;
  padding: calc(var(--base-size) * 2);
  background: var(--secondary-color);
  border-radius: var(--border-radius);
  transition-delay: calc(var(--delay) * 100ms);
  transform: translateX(-100%);
}
